body {
  font-family: 'Calibri', sans-serif;
}
.header-icon {
  display: inline-block;
  vertical-align: middle;
  height: 40px;
  width: 40px;
  text-align: center;
  font-family: Arial, sans-serif;
  font-size: 2.3em;
  font-weight: 300;
  line-height: 40px;
  overflow: hidden;
  text-shadow: #0a493e 1px 1px, #0a493e 2px 2px, #0a493e 3px 3px, #0a493e 4px 4px, #0a493e 5px 5px, #0a493e 6px 6px, #0a493e 7px 7px, #0a493e 8px 8px, #0a493e 9px 9px, #0a493e 10px 10px, #0a493e 11px 11px, #0a493e 12px 12px, #0a493e 13px 13px, #0a493e 14px 14px, #0a493e 15px 15px, #0a493e 16px 16px, #0a493e 17px 17px, #0a493e 18px 18px, #0a493e 19px 19px, #0a493e 20px 20px, #0a493e 21px 21px, #0a493e 22px 22px, #0a493e 23px 23px, #0a493e 24px 24px, #0a493e 25px 25px, #0a493e 26px 26px, #0a493e 27px 27px, #0a493e 28px 28px, #0a493e 29px 29px, #0a493e 30px 30px, #0a493e 31px 31px;
  color: white;
  background-color: #169c83;
}
.navbar-inverse {
  background-color: #fff;
  border-color: #fff;
}
.navbar-inverse .navbar-brand {
  color: #101010;
}
.navbar-nav {
  margin-top: 12px;
  margin-right: 50px;
}
.navbar-fixed-top {
  padding: 10px;
}
.navbar-inverse .navbar-nav > li > a {
  color: #101010;
  padding: 10px;
}
.navbar-inverse .navbar-nav > li > a:focus,
.navbar-inverse .navbar-nav > li > a:hover {
  background-color: #1bbc9b;
}
.navbar-collapse {
  padding-right: 10px;
}
.navbar-inverse .navbar-toggle,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .navbar-toggle:hover {
  background-color: #1bbc9b;
  margin-top: -42px;
}
.navbar-collapse.in,
.navbar-collapse.collapsing {
  width: 100%;
}
.navbar-brand {
  padding: 15px 45px 15px;
}
.header-text {
  margin-top: -22px;
  color: #000;
}
.header-text > h5 {
  margin-top: -8px;
}
.nav-pills > li + li {
  margin-left: 10px;
  display: block;
  text-decoration: none;
}
.header-text:hover {
  color: #444;
}
.jumbotron {
  background: url(/img/party.jpg);
  background-size: cover;
  margin-top: 80px;
  height: 500px;
  font-family: 'Calibri Light', sans-serif;
  color: #fff;
}
.jumbotron > h1 {
  margin-bottom: 38px;
}
.main-text-photo {
  opacity: 0.6;
}
.jumbotron .btn {
  margin-top: 40px;
  background-color: #1bbc9b;
  border-color: #1bbc9b;
  border-radius: 0px;
}
.fa-chevron-circle-down {
  margin-top: 40px;
}
.btn-down,
.jumbotron a {
  color: #fff;
}
.btn-down:hover,
.btn-down a {
  color: #1bbc9b;
}
.btn-primary:hover {
  color: #099b7a;
}
.btn-primary:active:focus {
  background-color: #099b7a;
  border-color: #099b7a;
  color: #fff;
}
.lead .btn {
  background-color: #1bbc9b;
  border-color: #1bbc9b;
  margin: 2px;
  color: #fff;
}
.lead .btn.active,
.lead .btn.active:focus,
.lead .btn.active:hover,
.lead .btn:active:focus,
.lead .btn:focus {
  background-color: #16a086;
  border-color: #16a086;
  color: #fff;
}
.row {
  background-color: #16a086;
  border-color: #16a086;
  color: #fff;
}
.row h3 {
  margin-top: 50px;
}
.row p {
  margin-bottom: 50px;
}
.row .col-lg-4 .thumbnail {
  width: 230px;
  height: 420px;
  padding: 0px;
  margin-left: 5%;
}
.row .col-lg-4 h2,
.row .col-lg-4 p {
  background-color: #fff;
  margin: 0px;
  color: #000;
}
.row .col-lg-4 img {
  width: 230px;
  height: 250px;
}
.row.map-form,
.row.forma {
  background-color: #ecf0f1;
  color: #101010;
}
.row.forma > a.btn {
  background-color: #16a086;
  border-color: #16a086;
  margin-right: 20px;
}
.row.forma > a.btn:hover {
  background-color: #16a086;
  border-color: #16a086;
  color: #101010;
  margin-right: 20px;
}
.icons-design1 {
  display: inline-block;
  vertical-align: middle;
  height: 200px;
  width: 200px;
  margin: 20px;
  line-height: 200px;
  border-radius: 100px;
  background-color: #00aa9e;
}
.icons-design2 {
  display: inline-block;
  vertical-align: middle;
  height: 200px;
  width: 200px;
  margin: 20px;
  line-height: 200px;
  border-radius: 100px;
  background-color: #4fb492;
}
.icons-design3 {
  display: inline-block;
  vertical-align: middle;
  height: 200px;
  width: 200px;
  margin: 20px;
  line-height: 200px;
  border-radius: 100px;
  background-color: #d1d2d4;
}
.icons-design4 {
  display: inline-block;
  vertical-align: middle;
  height: 200px;
  width: 200px;
  margin: 20px;
  line-height: 200px;
  border-radius: 100px;
  background-color: #daf1f9;
}
.icons-design5 {
  display: inline-block;
  vertical-align: middle;
  height: 200px;
  width: 200px;
  margin: 20px;
  line-height: 200px;
  border-radius: 100px;
  background-color: #e6f2dc;
}
.icons-design6 {
  display: inline-block;
  vertical-align: middle;
  height: 200px;
  width: 200px;
  margin: 20px;
  line-height: 200px;
  border-radius: 100px;
  background-color: #f8aeab;
}
.icons-design7 {
  display: inline-block;
  vertical-align: middle;
  height: 200px;
  width: 200px;
  margin: 20px;
  line-height: 200px;
  border-radius: 100px;
  background-color: #00a99e;
}
.icons-design8 {
  display: inline-block;
  vertical-align: middle;
  height: 200px;
  width: 200px;
  margin: 20px;
  line-height: 200px;
  border-radius: 100px;
  background-color: #ffebb6;
}
.icons-inside1 {
  display: inline-block;
  vertical-align: middle;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 150px;
  border-radius: 38px;
  padding: 12px;
  overflow: hidden;
  text-shadow: #247976 1px 1px, #247976 2px 2px, #247976 3px 3px, #247976 4px 4px, #247976 5px 5px, #247976 6px 6px, #247976 7px 7px, #247976 8px 8px, #247976 9px 9px, #247976 10px 10px, #247976 11px 11px, #247976 12px 12px, #247976 13px 13px, #247976 14px 14px, #247976 15px 15px, #247976 16px 16px, #247976 17px 17px, #247976 18px 18px, #247976 19px 19px, #247976 20px 20px, #247976 21px 21px, #247976 22px 22px, #247976 23px 23px, #247976 24px 24px, #247976 25px 25px, #247976 26px 26px, #247976 27px 27px, #247976 28px 28px, #247976 29px 29px, #247976  30px 30px;
  background-color: #cce9e4;
}
.icons-inside2 {
  display: inline-block;
  vertical-align: middle;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 150px;
  border-radius: 38px;
  padding: 12px;
  overflow: hidden;
  text-shadow: #3a8276 1px 1px, #3a8276 2px 2px, #3a8276 3px 3px, #3a8276 4px 4px, #3a8276 5px 5px, #3a8276 6px 6px, #3a8276 7px 7px, #3a8276 8px 8px, #3a8276 9px 9px, #3a8276 10px 10px, #3a8276 11px 11px, #3a8276 12px 12px, #3a8276 13px 13px, #3a8276 14px 14px, #3a8276 15px 15px, #3a8276 16px 16px, #3a8276 17px 17px, #3a8276 18px 18px, #3a8276 19px 19px, #3a8276 20px 20px, #3a8276 21px 21px, #3a8276 22px 22px, #3a8276 23px 23px, #3a8276 24px 24px, #3a8276 25px 25px, #3a8276 26px 26px;
  background-color: #4e9984;
}
.icons-inside3 {
  display: inline-block;
  vertical-align: middle;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 150px;
  border-radius: 38px;
  padding: 12px;
  overflow: hidden;
  text-shadow: #404040 1px 1px, #404040 2px 2px, #404040 3px 3px, #404040 4px 4px, #404040 5px 5px, #404040 6px 6px, #404040 7px 7px, #404040 8px 8px, #404040 9px 9px, #404040 10px 10px, #404040 11px 11px, #404040 12px 12px, #404040 13px 13px, #404040 14px 14px, #404040 15px 15px, #404040 16px 16px, #404040 17px 17px, #404040 18px 18px, #404040 19px 19px, #404040 20px 20px, #404040 21px 21px, #404040 22px 22px, #404040 23px 23px, #404040 24px 24px, #404040 25px 25px, #404040 26px 26px;
  background-color: #939498;
}
.icons-inside4 {
  display: inline-block;
  vertical-align: middle;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 150px;
  padding: 12px;
  border-radius: 38px;
  overflow: hidden;
  text-shadow: #4067ac 1px 1px, #4067ac 2px 2px, #4067ac 3px 3px, #4067ac 4px 4px, #4067ac 5px 5px, #4067ac 6px 6px, #4067ac 7px 7px, #4067ac 8px 8px, #4067ac 9px 9px, #4067ac 10px 10px, #4067ac 11px 11px, #4067ac 12px 12px, #4067ac 13px 13px, #4067ac 14px 14px, #4067ac 15px 15px, #4067ac 16px 16px, #4067ac 17px 17px, #4067ac 18px 18px, #4067ac 19px 19px, #4067ac 20px 20px, #4067ac 21px 21px, #4067ac 22px 22px, #4067ac 23px 23px, #4067ac 24px 24px, #4067ac 25px 25px, #4067ac 26px 26px;
  background-color: #45c5ec;
}
.icons-inside5 {
  display: inline-block;
  vertical-align: middle;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 150px;
  border-radius: 38px;
  padding: 12px;
  overflow: hidden;
  text-shadow: #226b36 1px 1px, #226b36 2px 2px, #226b36 3px 3px, #226b36 4px 4px, #226b36 5px 5px, #226b36 6px 6px, #226b36 7px 7px, #226b36 8px 8px, #226b36 9px 9px, #226b36 10px 10px, #226b36 11px 11px, #226b36 12px 12px, #226b36 13px 13px, #226b36 14px 14px, #226b36 15px 15px, #226b36 16px 16px, #226b36 17px 17px, #226b36 18px 18px, #226b36 19px 19px, #226b36 20px 20px, #226b36 21px 21px, #226b36 22px 22px, #226b36 23px 23px, #226b36 24px 24px, #226b36 25px 25px, #226b36 26px 26px;
  background-color: #96cb71;
}
.icons-inside6 {
  display: inline-block;
  vertical-align: middle;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 150px;
  border-radius: 38px;
  padding: 12px;
  overflow: hidden;
  text-shadow: #404040 1px 1px, #404040 2px 2px, #404040 3px 3px, #404040 4px 4px, #404040 5px 5px, #404040 6px 6px, #404040 7px 7px, #404040 8px 8px, #404040 9px 9px, #404040 10px 10px, #404040 11px 11px, #404040 12px 12px, #404040 13px 13px, #404040 14px 14px, #404040 15px 15px, #404040 16px 16px, #404040 17px 17px, #404040 18px 18px, #404040 19px 19px, #404040 20px 20px, #404040 21px 21px, #404040 22px 22px, #404040 23px 23px, #404040 24px 24px, #404040 25px 25px, #404040 26px 26px;
  background-color: #f1f1f1;
}
.icons-inside7 {
  display: inline-block;
  vertical-align: middle;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 150px;
  border-radius: 38px;
  padding: 12px;
  overflow: hidden;
  text-shadow: #247976 1px 1px, #247976 2px 2px, #247976 3px 3px, #247976 4px 4px, #247976 5px 5px, #247976 6px 6px, #247976 7px 7px, #247976 8px 8px, #247976 9px 9px, #247976 10px 10px, #247976 11px 11px, #247976 12px 12px, #247976 13px 13px, #247976 14px 14px, #247976 15px 15px, #247976 16px 16px, #247976 17px 17px, #247976 18px 18px, #247976 19px 19px, #247976 20px 20px, #247976 21px 21px, #247976 22px 22px, #247976 23px 23px, #247976 24px 24px, #247976 25px 25px, #247976 26px 26px;
  background-color: #cce9e4;
}
.icons-inside8 {
  display: inline-block;
  vertical-align: middle;
  height: 110px;
  width: 110px;
  text-align: center;
  line-height: 150px;
  border-radius: 38px;
  padding: 12px;
  overflow: hidden;
  text-shadow: #ad2241 1px 1px, #ad2241 2px 2px, #ad2241 3px 3px, #ad2241 4px 4px, #ad2241 5px 5px, #ad2241 6px 6px, #ad2241 7px 7px, #ad2241 8px 8px, #ad2241 9px 9px, #ad2241 10px 10px, #ad2241 11px 11px, #ad2241 12px 12px, #ad2241 13px 13px, #ad2241 14px 14px, #ad2241 15px 15px, #ad2241 16px 16px, #ad2241 17px 17px, #ad2241 18px 18px, #ad2241 19px 19px, #ad2241 20px 20px, #ad2241 21px 21px, #ad2241 22px 22px, #ad2241 23px 23px, #ad2241 24px 24px, #ad2241 25px 25px, #ad2241 26px 26px;
  background-color: #f5867b;
}
